{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico'%}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
    <title>API Brasileirão</title>
</head>
<body>
    <header>
        <div>
            <h1>API</h1>
            <h1>Brasileirão</h1>
        </div>
        <p>Dados sobre clubes e jogadores que participarão do campeonato brasileiro de futebol das séries A e B da temporada 2023</p>
    </header>

        <body>
            <ul class="ul-body">
                <div class="links-jogadores">
                    <li>
                        Todos os jogadores: 
                        <a href="api/jogadores?format=json" target="_blank">
                            jogadores
                            <svg style="display: inline-block; width: 0.6em; height: 0.6em;" viewbox="0
                                0 48 48">
                                <path d="M43.8 5.2c-0.2-0.4-0.6-0.8-1-1-0.2-0.2-0.6-0.2-0.8-0.2h-12c-1.2
                                0-2 0.8-2 2s0.8 2 2 2h7.2l-18.6 18.6c-0.8 0.8-0.8 2 0 2.8 0.4 0.4 0.8
                                0.6 1.4 0.6s1-0.2 1.4-0.6l18.6-18.6v7.2c0 1.2 0.8 2 2 2s2-0.8
                                2-2v-12c0-0.2 0-0.6-0.2-0.8z"></path>
                            </svg>
                        </a>
                    </li>
                    <li>
                        Todos os jogadores da série A: 
                        <a href="api/jogadores/serie-a?format=json" target="_blank">
                            jogadores/serie-a
                            <svg style="display: inline-block; width: 0.6em; height: 0.6em;" viewbox="0
                                0 48 48">
                                <path d="M43.8 5.2c-0.2-0.4-0.6-0.8-1-1-0.2-0.2-0.6-0.2-0.8-0.2h-12c-1.2
                                0-2 0.8-2 2s0.8 2 2 2h7.2l-18.6 18.6c-0.8 0.8-0.8 2 0 2.8 0.4 0.4 0.8
                                0.6 1.4 0.6s1-0.2 1.4-0.6l18.6-18.6v7.2c0 1.2 0.8 2 2 2s2-0.8
                                2-2v-12c0-0.2 0-0.6-0.2-0.8z"></path>
                            </svg>
                        </a>
                    </li>
                    <li>
                        Todos os jogadores da série B: 
                        <a href="api/jogadores/serie-b?format=json" target="_blank">
                            jogadores/serie-b
                            <svg style="display: inline-block; width: 0.6em; height: 0.6em;" viewbox="0
                                0 48 48">
                                <path d="M43.8 5.2c-0.2-0.4-0.6-0.8-1-1-0.2-0.2-0.6-0.2-0.8-0.2h-12c-1.2
                                0-2 0.8-2 2s0.8 2 2 2h7.2l-18.6 18.6c-0.8 0.8-0.8 2 0 2.8 0.4 0.4 0.8
                                0.6 1.4 0.6s1-0.2 1.4-0.6l18.6-18.6v7.2c0 1.2 0.8 2 2 2s2-0.8
                                2-2v-12c0-0.2 0-0.6-0.2-0.8z"></path>
                            </svg>
                        </a>
                    </li>
                </div>
                <div class="links-times">
                    <li>
                        Todos os times: 
                        <a href="api/times?format=json" target="_blank">
                            times
                            <svg style="display: inline-block; width: 0.6em; height: 0.6em;" viewbox="0
                                0 48 48">
                                <path d="M43.8 5.2c-0.2-0.4-0.6-0.8-1-1-0.2-0.2-0.6-0.2-0.8-0.2h-12c-1.2
                                0-2 0.8-2 2s0.8 2 2 2h7.2l-18.6 18.6c-0.8 0.8-0.8 2 0 2.8 0.4 0.4 0.8
                                0.6 1.4 0.6s1-0.2 1.4-0.6l18.6-18.6v7.2c0 1.2 0.8 2 2 2s2-0.8
                                2-2v-12c0-0.2 0-0.6-0.2-0.8z"></path>
                            </svg>
                        </a>
                    </li>
                    <li>
                        Todos os times da série A: 
                        <a href="api/times/serie-a?format=json" target="_blank">
                            times/serie-a
                            <svg style="display: inline-block; width: 0.6em; height: 0.6em;" viewbox="0
                                0 48 48">
                                <path d="M43.8 5.2c-0.2-0.4-0.6-0.8-1-1-0.2-0.2-0.6-0.2-0.8-0.2h-12c-1.2
                                0-2 0.8-2 2s0.8 2 2 2h7.2l-18.6 18.6c-0.8 0.8-0.8 2 0 2.8 0.4 0.4 0.8
                                0.6 1.4 0.6s1-0.2 1.4-0.6l18.6-18.6v7.2c0 1.2 0.8 2 2 2s2-0.8
                                2-2v-12c0-0.2 0-0.6-0.2-0.8z"></path>
                            </svg>
                        </a>
                    </li>
                    <li>
                        Todos os times da série B: 
                        <a href="api/times/serie-b?format=json" target="_blank">
                            times/serie-b
                            <svg style="display: inline-block; width: 0.6em; height: 0.6em;" viewbox="0
                                0 48 48">
                                <path d="M43.8 5.2c-0.2-0.4-0.6-0.8-1-1-0.2-0.2-0.6-0.2-0.8-0.2h-12c-1.2
                                0-2 0.8-2 2s0.8 2 2 2h7.2l-18.6 18.6c-0.8 0.8-0.8 2 0 2.8 0.4 0.4 0.8
                                0.6 1.4 0.6s1-0.2 1.4-0.6l18.6-18.6v7.2c0 1.2 0.8 2 2 2s2-0.8
                                2-2v-12c0-0.2 0-0.6-0.2-0.8z"></path>
                            </svg>
                        </a>
                    </li>
                </div>
            </ul>

            <h2>Veja os elencos dos clubes</h2>
            <aside>
                <section id="serie-a">
                    <h3>Brasileirão Série A</h3>
                    {% for time in times %}
                        {% if time.divisao.slug == 'serie-a' %}
                            <span class="serie-a"><a href="{% url 'jogadores:elenco' time.slug %}?format=json" target="_blank"><abbr title="{{time.nome}}"><img class="serie-a" src="{{time.escudo}}" alt="{{time.nome}}"></abbr></a></span>
                        {% endif %}
                    {% endfor %}
                </section>
                <section id="serie-b">
                    <h3>Brasileirão Série B</h3>
                    {% for time in times %}
                        {% if time.divisao.slug == 'serie-b' %}
                            <span class="serie-b" ><a href="{% url 'jogadores:elenco' time.slug %}?format=json" target="_blank"><abbr title="{{time.nome}}"><img src="{{time.escudo}}" alt="{{time.nome}}"></abbr></a></span>
                        {% endif %}
                    {% endfor %}
                </section>
            </aside>
        </body>

    <footer>
        <div>Desenvolvido por Jerberth Rocha | 2023</div>
        <ul>
            <a href="https://github.com/JerberthRocha" target="_blank"><li><abbr title="GitHub"><img width="25px" height="25px" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original-wordmark.svg"/></abbr></li></a>
            <a href="https://www.linkedin.com/in/jerberth-rocha/" target="_blank"><li><abbr title="LinkedIn"><img width="25px" height="25px" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linkedin/linkedin-plain.svg" /></abbr></li></a>
        </ul>
    </footer>
</body>
</html>