@charset "UFT-8";

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500&display=swap');

:root {
    --cor-1: #424ae2;
    --cor-2: #004BA8;
    --cor-3: rgb(229, 229, 28);
    --cor-4: #edc501;
    --cor-5: #F2F2F2;

    --fonte-principal: 'Lato', sans-serif;
    --fonte: 'Noto Sans', sans-serif;
}


* {
    margin: 0px;
    padding: 0px;
    font-family: var(--fonte);
}

header {
    background: linear-gradient(to top, var(--cor-1), var(--cor-2));
    height: 150px;
    margin-bottom: 15px;
}

header h1{
    text-align: center;
    font-size: 40px;
    color: white;
}

header p{
    text-align: center;
    color: white;
    padding-bottom: 50px;
}

li {
    display: inline-block;
    margin: 20px;
    text-align: center;
}

ul > div{
    text-align: center;
}

h2 {
    margin: 40px;
    margin-bottom: 60px;
    text-align: center;
    font-size: 25px;
}

h3 {
    margin: 20px;
    margin-bottom: 30px;
    text-align: center;
}

section#serie-a {
    margin-left: 110px;
    margin-right: 110px;
    text-align: center;
}

section#serie-b {
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
}

span.serie-a {
    margin: 30px;
   
}

span.serie-b {
    margin: 30px;
    margin-bottom: 50px;
}

span.serie-b img{
    margin-bottom: 18px;
}

img {
    margin-bottom: 20px;
}

aside {
    display: flex;
}